* {
    box-sizing: border-box;
}

body {
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}

/* navbar */
.site-header .branding .logo,
.site-header .branding .logo-type {
    display: inline-block;
    vertical-align: middle;
}

.site-header .branding .site-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-size: 1.1428571429em;
    color: white;
}

.site-title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.site-description {
    color: #bfc1c8;
    font-size: 10px;
    font-weight: 300;
}

.navbar-toggler-icon {
    background-color: #fff !important;
    border-color: #fff;
}

.navbar-toggler {
    border-color: #fff !important;
}

li a {
    text-decoration: none;
    color: #fff !important;
    border: 2px solid transparent !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
}

.navbar-nav .active,
.navbar-nav .nav-item:hover a {
    border-color: #009ad8 !important;
    color: #009ad8 !important;

}

/* End navbar */

/* hero */

.hero {
    background-size: cover;
    padding: 70px 0;
    min-height: 350px;
}

.find-location {
    position: relative;
    margin-bottom: 70px;

}

.find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    border: none !important;
    border-radius: 30px;
}

:focus-visible {
    outline: none;
}

.find-location input[type="submit"],
.find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}

#submit {
    background: #009ad8 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer ! important;
    border-radius: 30px;
}

.find-location input:focus-visible {
    outline-offset: 0px;
}

/* End hero */

.forecast-container {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
}

.forecast-container .forecast {
    width: 33.33%;
}

@media screen and (max-width: 990px) {
    .forecast-container .forecast {
      display: block;
      width: 100%;
      float: left;
    }
  }

.forecast-container .forecast .forecast-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.forecast-container .forecast.today .forecast-header .day {
    float: left;
}
@media screen and (max-width: 990px) {
    .forecast-container .forecast.today {
      display: block;
      width: 100%;
    }
  }

.forecast-container .forecast.today .forecast-header .date {
    text-align: right;
}

.forecast-container .forecast.today .forecast-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forecast-container .forecast .forecast-content {
    padding: 50px 20px 10px;
    text-align: center;
}

.forecast-container .forecast.today .location {
    font-size: 18px;
    font-size: 1.2857142857em;
    font-weight: 400;
}

.forecast-container .forecast .forecast-content .degree {
    font-size: 24px;
    font-size: 1.7142857143em;
    color: white;
    font-weight: 700;
}

.forecast-container .forecast.today .degree .num {
    font-size: 90px;
    font-size: 6.4285714286rem;
    margin-right: 30px;
}

.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle;
}

sup {
    top: -0.5em;
}

.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle;
}

.custom {
    color: #009ad8;
    margin: 20px 0;
}

.forecast-container .forecast.today span {
    margin-right: 20px;
}

.forecast-container .forecast.today span img {
    margin-right: 5px;
    vertical-align: middle;
}


.forecast-container .forecast:nth-child(even) {
    background-color: #262936;
}

.forecast-container .forecast .forecast-content .forecast-icon {
    margin-bottom: 20px;
}

.forecast-container .forecast .forecast-icon {
    height: 50px;
}

.forecast-container .forecast .forecast-content small {
    font-size: 16px;
    font-size: 1.1428571429em;
}

/* End hero */
/* Footer */

.site-footer {
    background: #262936;
    padding: 50px 0;
}

.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
}

.site-footer .subscribe-form input[type="text"] {
    padding: 20px 100px 20px 20px !important;
    background: #1e202b !important;
    width: 100% !important;
    color: white !important;
}

form input,
form textarea,
form select {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
    background: #009ad8 !important;
    color: white !important;
    border: none !important;
    cursor: pointer ! important;
    border-radius: 30px;
}

.site-footer .subscribe-form input:focus-visible {
    outline-offset: 0px;
}

.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.site-footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    transition: 0.3s ease;
    font-size: 1.4285714286em;
}

.site-footer .social-links a:hover {
    background: #009ad8;
    color: white;
}